* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: rgb(48, 43, 43);
  --secondary-color: rgba(228, 227, 227, 0.726);
  --main-text-color: rgba(168, 168, 168, 0.842);
  --brand-text-color: rgb(194, 23, 23);
  --price-text-color: rgb(227, 18, 18);
}

body {
  background-color: rgb(240, 240, 240);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  list-style-type: none;
}

p {
  color: var(--primary-color);
}

.top_icon {
  color: var(--secondary-color);
  font-size: 1.8rem;
}

.icon_text {
  color: var(--secondary-color);
  font-size: 0.7rem;
}
.logo_text {
  color: var(--title-text-color);
  font-size: 1.6rem;
  font-weight: 900;
}

.contact_bar {
  display: flex;
  position: sticky;
  top: 0;
  height: 6vh;
  width: 100vw;
  background-color: var(--primary-color);
  padding: 0.6rem 0;
  text-align: center;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 3px 5px rgba(21, 21, 21, 0.49);
}

/*SESSÃO PRINCIPAL*/
main {
  text-align: center;
  padding-top: 1rem;
}

/*TÍTULO DA GALERIA*/
h2 {
  color: var(--main-text-color);
  margin-bottom: 0.5rem;
}

#brand_name {
  color: var(--brand-text-color);
  margin: 0.5rem;
  font-size: 2rem;
}
.modal_dialog {
  border: none;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgba(21, 21, 21, 0.49);
  padding: 1rem;
  width: 90%;
  min-height: 70vh;
  margin: auto;
}

.modal_dialog > .return_icon {
  font-size: 1.8rem;
  text-align: left;
}

.modal_dialog::backdrop {
  background: rgba(0, 0, 0, 0.548);
}

.brand_title {
  color: var(--brand-text-color);
}

.img_modal {
  width: 95%;
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(58, 58, 58, 0.74);
  margin-top: 1rem;
  overflow: hidden;
}

/*LINHA DIVISÓRIA*/
hr {
  width: 90%;
  border: 0.5px solid var(--secondary-color);
}

.grid_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0.8rem;
  margin-top: 1.7rem;
}
.grid_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid_item_img {
  object-fit: cover;
  object-position: 80% 100%;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(58, 58, 58, 0.74);
}

.price_button {
  margin-top: 0.5rem;
  background-color: var(--price-text-color);
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(21, 21, 21, 0.49);
}
.price_button p {
  color: white;
  font-weight: 600;
}

footer {
  position: sticky;
  bottom: 0;
}

/*BOTTOM NAVIGATION BAR*/
nav {
  display: flex;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 1px -1px 5px rgba(21, 21, 21, 0.49);
  width: 100vw;
}

/*ICONS DO MENU*/
.menu_icon {
  color: white;
  margin: 0;
}
